<div class="row">
  <div class="col-12" id="main-visual">
    <div class="col-5 py-2" id="main-visual-content">
      <h2 class="text-center text-light border-top border-bottom py-1 mt-1">
        The Road leads<br/>
        Everywhere.<br>
        Just keep<br>
        On running.
      </h2>
    </div>
  </div>
  <div class="col-10">
    <div class="col-8 mt-4" id="top-title">
      <h1 class=" text-white text-center pt-2">当サイトについて</h2>
    </div>
  </div>
</div>
