<div　class="row">
  <div class="col-9 bg-white border rounded mx-auto border-dark">
    <div class="col-10 mx-auto pt-2">
      <h2 class="text-center bg-danger text-white mt-4 rounded p-1">500 Internal Server Error</h2>
      <p class="text-center text-secondary mt-3">申し訳ございません。システムエラーが発生しました。</p>
    </div>
  </div>
</div>