<div　class="row">
  <div class="col-9 bg-white border rounded mx-auto border-dark">
    <div class="col-10 mx-auto pt-2">
      <h2 class="text-center bg-info text-white mt-4 rounded p-1">422 Unprocessable Entity</h2>
      <p class="text-center text-secondary mt-3">指定されたページは表示できません。</p>
    </div>
  </div>
</div>