@import "colors";

@font-face {
  font-family: 'OpenBaskerv';
  src: url('../fonts/OpenBaskerville.otf') format('opentype');
}

//メディアクエリ
$breakpoint: (
  md: 'screen and (max-width: 900px)',
  sm: 'screen and (max-width: 767px)',
  x-sm: 'screen and (max-width: 650px)',
  xs: 'screen and (max-width: 566px)',
  sp: 'screen and (max-width: 450px)',
);

@mixin media($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}

// 共通要素
html,
body {
  height: fit-content;
  background-color: #eaf4fc;
  color: $black;

  a:hover {
    text-decoration: none;
  }
}

#map {
  height: 400px;
  max-width: 700px;
  background:green;
  @include media(sp) {
    height: 250px;
  }
}

.user-icon {
  border: solid 2px $gray-white;
  border-radius: 50%;
  background-color: #fff;
  text-decoration: dashed;
  vertical-align: bottom;
}

//swiper
.swiper {
  width: 700px;
  @include media(sm) {
    width: 97%;
  }
}
.swiper-wrapper {
  @include media(sp) {
    position: relative;
  }
}
.swiper-slide{
  @include media(sp) {
    height: 250px;
    top: -75px;
  }
}
:root {
  --swiper-navigation-color: $black;
}

// homes/top
#main-visual {
  background-image: url(../../assets/images/main-visual.jpg);
  background-size: cover;
  background-position: center center;
  height: 500px;
  position: relative;
  border-radius: 0.5rem;
}

#main-visual-content {
  background-color: #2f5d50;
  opacity: 0.7;
  top: 20px;
  left: 5px;
  border-radius: 0.5rem;
  font-family: 'OpenBaskerv';
}

#top-title {
  background-color: $purple;
  border: solid 1px $gray-white;
  border-radius: 0.5rem;
}

// course/index
.index-img {
  width: 220px;
  height: 220px;
  border-right: solid 2px $gray-white;
}

.index-content {
  height: 220px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: solid 2px $gray-white;
  border-radius: 0.5rem;
  background-color: #fff;
  @include media(sp) {
    height: 180px;
  }
}

.card-body a h4 {
  color: $black;
}

#index-title {
  background-color: $ink-blue;
  border-radius: 0.5rem;
  @include media(sp) {
    #search-btn {
      margin-top:10px;
    }
  }
}

#index-title-content {
  @include media(sp) {
    h1 {
      font-size:20px;
      margin-bottom: 4px;
    }
  }
}


.card-wrapper {
  max-height: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
    @include media(sp) {
    h5 {
      font-size:16px;
    }
  }
}

.card-introduction {
  height: 100px;
  display: block;
  overflow-y: scroll;
  overflow-x: scroll;
  @include media(sp) {
    display: none;
  }
}

.card-content {
  font-size: 14px;
}

.index-link-wrapper {
  div {
    a {
      font-size: 14px;
      @include media(md) {
        font-size: 10px;
      }
      @include media(sm) {
        font-size: 13px;
      }
    }
  }
  @include media(sp) {
      flex-direction: column;
      align-items:center;
      gap: 5px
    }
}

.index-img-wrapper {
  img {
      @include media(md) {
      width: 190px;
    }
    @include media(sm) {
      width: 225px;
    }
    @include media(sp) {
      width: 180px;
      width: 180px;
    }
  }
}


.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 0 0 0 10px !important;
  background: #333 !important;
}

.swiper-pagination-bullet:first-child {
  margin: 0 !important;
}

//course/show
#show-title {
  background-color: $holly-green;
  border: solid 1px $gray-white;
  border-radius: 0.5rem;
}

.show-table-wrapper {
  @include media(sm) {
    flex-direction: column;
    gap:10px
  }
  @include media(sp) {
    font-size: 0.8rem;
  }
}
.show-user-link::before {
  @include media(x-sm) {
    content: '\A';
    white-space: pre;
  }
}

.show-content-wrapper {
  @include media(xs) {
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 0.8rem;
    }
  }
}

.show-link-btn {
  @include media(x-sm) {
    flex-direction: column;
    gap: 10px;
  }
  @include media(x-sm) {
    a{
      font-size: 0.8rem;
    }
  }
}

.comment-wrapper {
  @include media(x-sm) {
    a {
      font-size: 12px;
    }
  }
}

.show-edit-btn {
  @include media(x-sm) {
    flex-direction: column;
    gap: 10px;
    font-size: 0.9rem;
  }
}
//course/new
.map-btn {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 14px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 30px;
  cursor: pointer;
  margin-left: 5px;

  &:hover {
    background: rgb(235, 235, 235);
  }
}

input[type=button].button-primary {
  background-color: #1a73e8;
  color: white;

  &:hover {
    background-color: #1765cc;
  }
}

input[type=button].button-secondary {
  background-color: white;
  color: #1a73e8;

  &:hover {
    background-color: #d2e3fc;
  }
}

input[type=button].button-indigo {
  background-color: #65318e;
  color: white;

  &:hover {
    background-color: #522f60;
  }
}

.map-input {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 14px Roboto, Arial, sans-serif;
  overflow: hidden;
  line-height: 30px;
  margin-right: 0;
  min-width: 25%;
}


.distance-area {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 14px Roboto, Arial, sans-serif;
  line-height: 30px;
  color: #65318e;
}

#new-title {
  background-color: $red;
  border: solid 1px $gray-white;
  border-radius: 0.5rem;
}

// course/edit
#edit-title {
  background-color: $yellow;
  border: solid 1px $gray-white;
  border-radius: 0.5rem;
}

//users/show
.content {
  display: none;
}

.content.active {
  display: block;
}

#user-title {
  background-color: $orange;
}

#user-card-text {
  font-size: 14px;
  overflow: hidden;
}

div > section {
  min-height: 120px;
}
.user-card {
  height: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  @include media(sp) {
    height: 319px;
   
  }
}
.section-card-wrapper {
  @include media(sp) {
    max-width: 95%;
    margin: 0 auto;
    img {
      height: 160px;
    }
  }
}

.nav-tabs li a {
  @include media(sp) {
    font-size: 0.75rem;
  }
}
.section-content {
  @include media(sp) {
    flex-direction: column;
    gap: 10px
  }
}